body {
	margin: 0;
	overflow: hidden;
	background: #999;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	padding: 10px 20px;
	margin: 10px;
	font-size: 6vh;
	font-weight: 900;
	background: rgba(0,0,0,.5);
	text-decoration: none;
}

#div {
	position: relative;
}

#div > canvas {
	background: #333;
}

#stat {
	position: absolute;
	font-size: 5em;
	font-weight: 900;
	color: rgba(111, 111, 111, .66);
}
#panel {
	position: fixed;
	left:0;
	top:0;
}
